 /* ===========================================================================
   Large Screen Styles
   ============================================================================ */


@media only screen and (min-width: $breakpoint-desktop){

.desktop-only{
	display: initial;
}

h2{
	font-size: 3vw;
}


.navbar{
	font-size: 1.5vw;
}

#welcome .wrapper{	
	.heading{
		font-size: 6.8vw;
	}
	.sub-heading{
		font-size: 4.6vw;
	}
	.ghost-button{
    	border: .3vw solid #fff;
    	border-radius: .5vw;
    	padding: 4px 10px;
    	margin: 5px 2px;
    	font-size: 1.6vw;
    	font-weight: bold;
    	width: unset;
	}
	.social-icons a{
		font-size: 4vw;
    	margin: 0px 1vw;
	}

}


#responsive{
	.wrapper{
		@include container;
		padding: $wrapper-padding-desktop;
		.image-box{
			@include span(6 of 12);
			img{
				max-width: 75vh;
			}
		}
		.text-box{
			padding-top: 150px;
			@include span(6 of 12);
			}
	}
}

#development{
	.wrapper{
		@include container;
		padding: $wrapper-padding-desktop;
			.image-box{
				@include span(6 of 12);
				float: right;
			}
			.text-box{
				@include span(6 of 12);
				padding-top: 92px;
			}
	}
}


#work{
	font-size: 1.2em;
	.wrapper{
		@include container;
		padding: $wrapper-padding-desktop;
		.large-image-box{
			width: 58vw;
    		display: inline-block;
    		float: left;
			img{
				max-height: 82vh;
				padding: 0px 2vmin;
				@media only screen and (min-height: 620px){
            	max-height: 65vh;
            	padding: 0px 1vw;
            	}
				@media only screen and (min-height: 790px){
            	max-height: 55vh;
            	padding: 0px 1vw;
            	}
            	@media only screen and (min-height: 965px){
            	max-height: 50vh;
            	padding: 0px 1vw;
            	}
				@media only screen and (min-width: 1125px){
				padding: 0px 2vw;
				}
				@media only screen and (min-width: 1200px){
					padding: 0px 2.8vw;
				}
			}
			img:nth-child(3){
				padding-right: 0px;
			}
		}
		.large-text-box{
    		max-width: 35vw;
    		text-align: justify;
    		display: inline-block;
			h4{
				text-align: center
			}
			p{
				padding-bottom: 40px;
			}
		}
		.image-box{
			display: inline-block;
			max-width: 25vw; 
			margin: 2vmin;
			p{
				padding-top: 7px;
			}
		}
	}
}


#work .wrapper .mobile-only{
	display: none;
}

#about{
    background-image: url("../img/skyfield-desktop.jpg");
    font-size: 1.2em;
    .wrapper{
    	@include container;
    	padding: 6vw 75px;
		.text-box-left{
			@include span(6 of 12);
			.button{
				display: none;
			}
		}
		.text-box-right{
			@include span(6 of 12 last);
			text-align: center;
			h2{
				padding-bottom: 20px;
			}
			ul{
				padding-bottom: 20px;
			}
			li{
				width: 40%;
				display: inline-block;
			}
			.button, .button:visited{
				display: inline-block;
    			background-color: #0f6f16;
    			padding: 12px;
    			border-radius: 6px; 
    			box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    			margin-top: 20px;
    			&:hover{
    				  background: #0e7b17;
    				  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    			}
    			&:active{
    				box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 0px 0px 0 rgba(0,0,0,0);
    				border: 1px solid #565252;
				}
    		}			
		}

    }

}


}

 