$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$primary-color: #fff;
$wrapper-padding-mobile: 11vw 15px;
$wrapper-padding-desktop: 8vw 15px;

$breakpoint-tablet: 600px;
$breakpoint-desktop: 860px;

$background-welcome: url("../img/bsd-bg.jpg");
$background-responsive: #333352;
$background-development: #26561e;
$background-work: #290606;
$background-who-is-blake: url("../img/skyfield.jpg");


@import "susy";
@import "normalize";
@import "reset";
@import "mobile";
@import "desktop";
@import "print";
